[Unit]
Description=backup my server timer

[Timer]
OnCalendar=Sun *-*-* 02:00:00
Persistent=ture
Unit=backup.service

[Install]
WantedBy=multi-user.target
